<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hemos recibido tu mensaje</title>
</head>

<body>
    <h3>Hola {{clientName}},</h3>
    <p>{{success_msg}}</p>
    <hr>
    <p><small>Este es un mensaje automático, por favor no respondas a este correo.</small></p>
</body </html>